::view-transition-group(devtools-button) {
  z-index: 1;
}

.root {
  position: fixed;
  cursor: pointer;
  bottom: 10px;
  left: 10px;
  z-index: 999999;
  opacity: 0;
  transform: scale(0);
  view-transition-name: devtools-button;
}

.show {
  opacity: 1;
  transform: scale(1);
}

.hide {
  opacity: 0;
  transform: scale(0);
}
