@keyframes description {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes view {
  from {
    opacity: 0;
    transform: translateX(150px) translateZ(-350px) rotateY(-20deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateZ(0) rotateY(-15deg);
  }
}

.root {
  max-width: 100%;
}

.viewContainer {
  perspective: 900px;
  perspective-origin: right;
  position: sticky;
  top: calc(var(--header-size) + 20px);
  width: 480px;
  max-width: 100%;
}

.description {
  width: 480px;
  max-width: 100%;
  animation-timeline: view(block 100% 0);
  animation-name: description;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-range: entry 100px entry 320px;
}

.view {
  animation-timeline: view(block 80% 0);
  animation-timing-function: ease;
  animation-name: description;

  @media (min-width: 1024px) {
    width: 320px;
    animation-name: view;
    transform: translateX(0) rotateY(-15deg);
  }
}
