.root {
  color: var(--rd-ui-link-color, var(--rd__primary_background));
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: var(--rd-ui-link-hover-color, var(--rd__primary_background-hover));
  }

  &:focus-visible {
    color: var(--rd-ui-link-focus-color);
    text-decoration: underline;
    outline: none;
  }
}
