@use "src/styles/token" as *;

.root {
  cursor: pointer;
  background-clip: border-box;

  @include token('text-decoration', 'button', 'link');
  @include token('transition', 'button', 'root');
  @include outline('button', 'root');

  &:focus-visible {
    @include outline('button', 'root', 'focus');
  }
}

.primary {
  @include view('button', 'primary', '', 'block');

  &:hover {
    @include view('button', 'primary', 'hover', 'block');
  }
}

.accent {
  @include view('button', 'accent', '', 'block');

  &:hover {
    @include view('button', 'accent', 'hover', 'block');
  }
}

.secondary {
  @include view('button', 'secondary', '', 'block');

  &:hover {
    @include view('button', 'secondary', 'hover', 'block');
  }
}

.success {
  @include view('button', 'success', '', 'block');

  &:hover {
    @include view('button', 'success', 'hover', 'block');
  }
}

.warning {
  @include view('button', 'warning', '', 'block');

  &:hover {
    @include view('button', 'warning', 'hover', 'block');
  }
}

.danger {
  @include view('button', 'danger', '', 'block');

  &:hover {
    @include view('button', 'danger', 'hover', 'block');
  }
}

.disabled,
.root[disabled='true'] {
  cursor: default;
  @include view('button', 'disabled');
}

.s {
  @include block('button', 's');

  &.square {
    @include token('padding', 'button', 's', 'square', 'block');
  }
}

.m {
  @include block('button', 'm');

  &.square {
    @include token('padding', 'button', 'm', 'square', 'block');
  }
}

.l {
  @include block('button', 'l');

  &.square {
    @include token('padding', 'button', 'l', 'square', 'block');
  }
}

.circle {
  @include token('border-radius', 'button', 'circle', '', 'block');
}
