@use "src/styles/token" as *;

.root {
  cursor: pointer;
  background-clip: border-box;

  @include token('text-decoration', 'button', 'link');
  @include token('transition', 'button', 'root');
  @include outline('button', 'root');

  &:focus-visible {
    @include outline('button', 'root', 'focus');
  }
}

.primary {
  @include view('button', 'primary');

  &:hover {
    @include view('button', 'primary', 'hover');
  }
}

.secondary {
  @include view('button', 'secondary');

  &:hover {
    @include view('button', 'secondary', 'hover');
  }
}

.success {
  @include view('button', 'success');

  &:hover {
    @include view('button', 'success', 'hover');
  }
}

.warning {
  @include view('button', 'warning');

  &:hover {
    @include view('button', 'warning', 'hover');
  }
}

.danger {
  @include view('button', 'danger');

  &:hover {
    @include view('button', 'danger', 'hover');
  }
}

.disabled,
.root[disabled='true'] {
  cursor: default;
  @include view('button', 'disabled');
}

.s {
  @include block('button', 's');
}

.m {
  @include block('button', 'm');
}

.l {
  @include block('button', 'l');
}
