.root {
  position: fixed;
  cursor: pointer;
  bottom: 10px;
  left: 10px;
  z-index: 999999;
  padding: 8px;
  background: var(--rd-color-bg-alpha);
  backdrop-filter: blur(8px);
  font-size: 14px;
  border-radius: 8px;
  height: 36px;
  border: 1px solid var(--rd-color-border);
  color: var(--rd-color-primary);
  transition: background-color .2s ease, border-color .2s ease, opacity .2s ease, transform .2s ease;
  opacity: 0;
  transform: scale(0);

  &:hover {
    background: var(--rd-color-bg-alpha-hover);
    border-color: var(--rd-color-border-hover);
  }
}

.show {
  opacity: 1;
  transform: scale(1);
}

.hide {
  opacity: 0;
  transform: scale(0);
}
