.root {
  transition: opacity .2s;
  opacity: 0;
  max-width: 100%;
  margin-bottom: 9999px;
}

.show {
  opacity: 1;
  margin-bottom: 0;
  transition: opacity .2s, margin-bottom .3s;
}

.scrolling {
  margin-bottom: 9999px;
}

.hide {
  opacity: 0;
  margin-bottom: 9999px;
  transition: opacity .2s;
}
