.root {
  --rd-position: fixed;

  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 999999;
  height: 50vh;
  opacity: 0;
  margin-bottom: -100px;
  transition: opacity .2s, margin .2s;
}

.show {
  opacity: 1;
  margin-bottom: 0;
}

.hide {
  opacity: 0;
  margin-bottom: -100px;
}

.filter {
  display: flex;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.list {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  padding-right: 8px;
  overscroll-behavior: contain;
}

.virtualList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
}

.asideHeader {
  display: flex;
  gap: 8px;
}

.filterButton {
  border: none;
  cursor: pointer;
}

.filterOnButton {
  background: green;
}

.filterOffButton {
  background: red;
}
