@use "src/docs/styles/proximityGlow" as *;

@keyframes show {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}

::view-transition-old(aside):only-child {
  animation: hide .2s ease both;
}

::view-transition-new(aside):only-child {
  animation: show .2s ease both;
}

@keyframes highlight-link {
  0%, 100% {
    color: var(--rd__root_color-dim);
  }
  10%, 90% {
    color: var(--rd__primary_background);
  }
}

.root {
  width: 200px;
  padding-left: 8px;
  padding-top: 18px;
  position: sticky;
  top: calc(40px + var(--header-size));
  max-height: calc(100vh - var(--header-size) - 80px);
  transition: opacity .2s, transform .2s;

  @media (max-width: 1023px) {
    view-transition-name: aside;
    position: fixed;
    top: var(--header-size);
    padding: 58px 24px 0;
    right: 0;
    bottom: 0;
    width: 224px;
    max-height: none;
    background: var(--rd-color-bg-deep);
    z-index: 1;

    @include proximityGlow(0 0 0 1px);

    & > .background {
      width: 100vw;
      right: 100%;
      top: 0;
      bottom: 0;
      opacity: .3;
      background: var(--rd-color-bg-deep);
    }
  }
}

.background {
  position: absolute;
  cursor: pointer;
}

.scrollbar {
  overflow-y: auto;
  padding-bottom: 80px;

  @media (min-width: 1024px) {
    view-transition-name: aside;
  }
}

.title {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: var(--rd__root_color-muted);
}

.content {
  padding-left: 12px;
  position: relative;

  @media (min-width: 1024px) {
    @include proximityGlow(0 0 0 1px);
  }

  @media (max-width: 1023px) {
    border-left: none;
  }
}

.item {
  color: var(--rd__root_color-dim);
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  transition: color 0.2s;
  animation: highlight-link both linear;

  &:hover {
    color: var(--rd__primary_background) !important;
  }
}
