.root {
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 8px;
  gap: 8px;
  border-radius: 16px;
  background: var(--rd-color-bg-alpha);
  border: 1px solid var(--rd-color-border);
  z-index: 999999;
  height: 50vh;
  color: var(--rd-color-text);
  backdrop-filter: blur(8px);
  opacity: 0;
  transform: translateY(100px);
  transition: opacity .2s ease, transform .2s ease;
  font-family: var(--rd-font-family), sans-serif;
  overflow: hidden;
  overscroll-behavior: contain;
}

.show {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.hide {
  opacity: 0;
  transform: translateY(100px);
}

.closeButton {
  display: flex;
  cursor: pointer;
  border: none;
  padding: 1px;
  background: var(--rd-color-error);
  font-size: 10px;
  border-radius: 6px;
  transition: color .2s ease;
  color: transparent;

  &:hover {
    color: #000a;
  }
}

.header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.main {
  display: flex;
  gap: 8px;
  background: var(--rd-ui-devtools_panel-main-bg, var(--rd-color-bg-elevated));
  flex: 1;
  min-height: 0;
  padding: 8px;
  border: 1px solid var(--rd-color-border);
  border-radius: 8px;
}

.filter {
  display: flex;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.list {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  padding-right: 8px;
}

.virtualList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
}

.asideHeader {
  display: flex;
  gap: 8px;
}

.search {
  flex: 1;
  background: var(--rd-color-bg-alpha);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 6px;
  border: 1px solid var(--rd-color-border);
  border-radius: 12px;
  height: 24px;
  font-size: 12px;
  cursor: text;
  transition: background-color .2s ease, border .2s ease;

  &:hover {
    border-color: var(--rd-color-border-hover);
  }

  &:has(>input:focus) {
    border-color: var(--rd-color-border-hover);
    background: var(--rd-color-bg-alpha-hover);
  }

  & > input {
    flex: 1;
    background: transparent;
    border: none;
    height: 24px;

    &:focus {
      outline: none;
    }
  }
}

.filterButton {
  border: none;
  cursor: pointer;
}

.filterOnButton {
  background: green;
}

.filterOffButton {
  background: red;
}
