::view-transition-group(header) {
  z-index: 2;
}

.root {
  --rd-position: fixed;

  &:before {
    --rd-glow-padding: 0 0 1px;
  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--rd-color-bg-surface);
  height: 64px;
  z-index: 2;
  view-transition-name: header;
}

.themeButton {
  --rd-glow-x-offset: calc(min(100vw, calc(((100vw - 1440px) / 2) + 1440px)) - 100% - 24px);
  --rd-glow-y-offset: 14px;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  height: var(--header-size);
}

.logo {
  font-weight: 700;
  background: var(--gradient-base);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: text-shadow .2s;

  &:hover {
    text-shadow: var(--shadow-accent);
  }
}

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.2s;
  color: var(--rd__root_color-muted);
}
