@use "src/docs/styles/proximityGlow" as *;

.root {
  position: sticky;
  top: 0;
  background: var(--color-bg-surface);
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity .2s, transform .2s, background-color .2s, border-color .2s;
  height: 64px;
  z-index: 2;

  @include proximityGlow(0 0 1px);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.themeButton {
  --proximity-x-offset: calc(min(100vw, calc(((100vw - 1440px) / 2) + 1440px)) - 100% - 24px);
  --proximity-y-offset: 14px;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  height: var(--header-size);
}

.logo {
  font-weight: 700;
  background: var(--gradient-base);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: text-shadow .2s;

  &:hover {
    text-shadow: var(--shadow-accent);
  }
}

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.2s;
  color: var(--color-text-muted);

  &:hover {
    color: var(--color-text);
  }
}
