.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.codeBlock {
  display: flex;
  flex-direction: column;
}

.code {
  flex: 1;
  min-height: fit-content;
  background: var(--rd-color-bg-contrast);
  border: 1px solid var(--rd-color-border);
  padding: 4px;
  border-radius: 4px;
}
